# IDE
.idea/
*.iml
.vscode/

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
.venv1/
.venv*/

# pytest
.pytest_cache/
.pytest_cache/v/

# Linux
*~
.DS_Store
*.so

# Distribution / build
dist/
build/
*.egg-info/
